<a href="https://colab.research.google.com/github/vishnupriya1863/DSA_100DAYS/blob/main/DSA(DAY_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DAY 2 Python Functions Part -2

In [6]:
# lamda function: anonymous functions : with the lamda keyword
# Syntax: lambda arguments : expression
PERSON = "VISHNU PRIYA"
convert= lambda func: func.lower()
print(convert(PERSON))

vishnu priya

In [9]:
n= lambda x: "postive" if x>0 else "negative" if x<0 else "zero"
print(n(20))

postive

In [16]:
li = [lambda arg=x: arg * 10 for x in range(1, 5)]
for i in li:
  print(i())

10
20
30
40

In [17]:
# check even /odd  , here we can also pass various other arguments tooo!
n = lambda x: "even" if x%2==0 else "odd"
print(n(3))

odd

**FILTER**:Syntax: filter(function, sequence)
it returns true values only (works without else)

In [20]:
def even(n):
  if n%2==0:
    return True


a=[1,2,35,5645,78,7,76]
b=filter(even,a)
print(list(b))

[2, 78, 76]

In [25]:
# filter with lamda functions
a=[12432,235346,456,45,5465,62346,45,26,75]
b=filter(lambda x: x%2==0,a)
c=map(lambda x:x*2,b)
print(list(c))

[24864, 470692, 912, 124692, 52]

**MAP FUNCTION** : maps function to every item in the function

In [29]:
a=[1,23,4,32,4,2444,5,2,22,4,2]
b=map(float,a)
print(list(b))

[1.0, 23.0, 4.0, 32.0, 4.0, 2444.0, 5.0, 2.0, 22.0, 4.0, 2.0]

**REDUCE FUNCTION**: functools.reduce(function, iterable[, initializer])
functools module import reduce

 eg : [1,2,3,4]= we use 2 (x,y)

In [31]:
from functools import reduce
a=[1,2,3,4,5]
b=reduce(lambda x,y: x*y,a)
print(b)

120

In [32]:
# use reduce and operator functions together
import functools,operator
a=[2,3,4,5,3,2,3,4]
b=functools.reduce(operator.add,a)
print(b)

26

In [33]:
# accumulator functions
from itertools import accumulate
from operator import add

# Cumulative sum with accumulate
a = [1, 2, 3, 4, 5]
res = accumulate(a, add)

print(list(res))

[1, 3, 6, 10, 15]

**INNER FUNCTION**: nexted functions:

In [44]:
def f1():
  s=["hi"]
  def f2():
    s[0]="hello"
    print(s)
  f2()


  print(s)

f1()

['hello']
['hello']

In [45]:
# function variables .s
# Python program to
# demonstrate accessing of
# variables of nested functions

def f1():
    f1.s = 'I love GeeksforGeeks'

    def f2():
        f1.s = 'Me too'
        print(f1.s)

    f2()
    print(f1.s)

# Driver's code
f1()

Me too
Me too

**DECORATORS**modify and returns the functions

In [46]:
# Define a decorator
def greet_decorator(func):
    def wrapper():
        print("Hello!")
        func()
        print("Goodbye!")
    return wrapper

# Apply the decorator to a function
@greet_decorator
def say_name():
    print("My name is Vishnu Priya.")

# Call the decorated function
say_name()

Hello!
My name is Vishnu Priya.
Goodbye!